In [74]:
# Import Libraries
import pandas as pd
from pathlib import Path

In [75]:
# Read in CSV file
csv_path = Path(r"C:\Users\ooika\Google Drive\Fintech Monash course I created this folder\Week2Homework\python-homework\PyBank\budget_data.csv")
budget_data = pd.read_csv(csv_path, index_col="Date", parse_dates=True, infer_datetime_format=True)
budget_data.head()

            Profit/Losses
Date
2010-01-01         867884
2010-02-01         984655
2010-03-01         322013
2010-04-01         -69417
2010-05-01         310503

In [76]:
# Check for nulls
budget_data.isnull().mean() * 100
# Drop nulls
budget_data = budget_data.dropna().copy()
# Drop duplicates
budget_data = budget_data.drop_duplicates().copy()
# Validate no more missing values
budget_data.isnull().sum()

Profit/Losses    0
dtype: int64